/*PALLETE

    #98730C - gold
    #540754 - purple
    #ffffff - white
    #000000 - black
*/


*{
    padding: 0px;
    margin: 0px;
    font-family: 'Voces', cursive;
    list-style: none;
    background-color: black;
}



body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: center;
    height: 100%;
    margin: inherit;
}

header{
    height: 9rem;
    width: 100%;
    background-color: #540754;
}

header :is(h1,h2,h3,sup){
    background-color: #540754;
    margin: auto auto;
}

h1{
    color: #B97F24;
    font-size: 3rem;
    text-shadow: 0px 0px 5px black;
}

h2,h3,h4,figcaption{
    color: white;
}

h4{
    margin: 1% auto;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.form{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 
        "img1   img2";
}

.img1{
    border: solid white;
    grid-area: img1;
}

.img2{
    border: solid white;
    grid-area: img2;
}

img{
    border: solid 5px #98730C;
    filter: drop-shadow(0px 0px 5px white);
    margin: 2% auto;
    height: 600px;
    width: 650px;
}

figcaption{
    padding-bottom: 1%;
}

#but{
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    margin: 2% 0%;
    color: white;
    background-color: #98730C;
    border: solid white;
    filter: drop-shadow(0px 0px 5px white);
}

#but:active{
    filter: drop-shadow(0px 0px 0px #540754);
}

form{
    display: none;
    padding-top: 1%;
    height: 18rem;
    border: solid white;
    background-color: #540754;
}

label{
    background-color: #540754;
    color: white;
}

input{
    margin-top: 0.5%;
    background-color: white;
    border: solid 2px black;
}

#submit{
    width: 100px;
    border: solid 2px black;
    margin-top: 0.5%;
    filter: drop-shadow(0px 5px 7px black);
}

#submit:active{
    filter: drop-shadow(0px 0px 0px black);
}

.cont{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #540754;
}

form section{
    margin: 2% 0;
    height: 6rem;
    width: 50%;
    border: solid 5px black;
    background-color: #98730C;
    filter: drop-shadow(0px 7px 7px black);
}

.cont :is(h3,p){
    background-color: #98730C;
    color: white;
}

.cont h3{
    text-transform: uppercase;
}




